vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-E8LV36B\\Jing Hua
vti_modifiedby:SR|DESKTOP-E8LV36B\\Jing Hua
vti_timelastmodified:TR|07 Feb 2021 22:29:14 -0000
vti_timecreated:TR|07 Feb 2021 22:29:14 -0000
vti_cacheddtm:TX|07 Feb 2021 22:29:14 -0000
vti_filesize:IR|1240
vti_cachedlinkinfo:VX|S|watbanr.gif S|watrule.gif S|watbul1.gif S|watbul2.gif S|watbul3.gif S|wathsel.gif S|wathbtn.gif S|watvsel.gif S|watvbtn.gif S|wathom.gif S|watup.gif S|watbck.gif S|watnxt.gif S|watbul1.gif S|watbul2.gif S|watbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/watermar/watbanr.gif FSUS|_themes/watermar/watrule.gif FSUS|_themes/watermar/watbul1.gif FSUS|_themes/watermar/watbul2.gif FSUS|_themes/watermar/watbul3.gif FSUS|_themes/watermar/wathsel.gif FSUS|_themes/watermar/wathbtn.gif FSUS|_themes/watermar/watvsel.gif FSUS|_themes/watermar/watvbtn.gif FSUS|_themes/watermar/wathom.gif FSUS|_themes/watermar/watup.gif FSUS|_themes/watermar/watbck.gif FSUS|_themes/watermar/watnxt.gif FSUS|_themes/watermar/watbul1.gif FSUS|_themes/watermar/watbul2.gif FSUS|_themes/watermar/watbul3.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
