vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-E8LV36B\\Jing Hua
vti_modifiedby:SR|DESKTOP-E8LV36B\\Jing Hua
vti_timelastmodified:TR|07 Feb 2021 22:29:14 -0000
vti_timecreated:TR|07 Feb 2021 22:29:14 -0000
vti_cacheddtm:TX|07 Feb 2021 22:29:14 -0000
vti_filesize:IR|27285
vti_cachedlinkinfo:VX|S|watglobl.gif S|watbkgnd.gif S|watbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/watermar/watglobl.gif FSUS|_themes/watermar/watbkgnd.gif FSUS|_themes/watermar/watbul2.gif FSUS|_themes/watermar/toolgrad.gif FSUS|_themes/watermar/dot.gif FSUS|_themes/watermar/toolgrad.gif FSUS|_themes/watermar/theme.css FSUS|_themes/watermar/blank.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|_themes/watermar/theme.css
