vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-E8LV36B\\Jing Hua
vti_modifiedby:SR|DESKTOP-E8LV36B\\Jing Hua
vti_timelastmodified:TR|07 Feb 2021 22:23:48 -0000
vti_timecreated:TR|07 Feb 2021 22:23:48 -0000
vti_cacheddtm:TX|07 Feb 2021 22:23:48 -0000
vti_filesize:IR|28163
vti_cachedlinkinfo:VX|S|barglobalc.gif S|barbkgde.gif S|barbul2c.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/bars/barglobalc.gif FSUS|_themes/bars/barbkgde.gif FSUS|_themes/bars/barbul2c.gif FSUS|_themes/bars/toolgrad.gif FSUS|_themes/bars/dot.gif FSUS|_themes/bars/toolgrad.gif FSUS|_themes/bars/theme.css FSUS|_themes/bars/blank.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|_themes/bars/theme.css
