.mstheme{
nav-banner-image:url(probanr.gif);
separator-image:url(prorule.gif);
list-image-1:url(probul1.gif);
list-image-2:url(probul2.gif);
list-image-3:url(probul3.gif);
navbutton-horiz-pushed:url(prohsel.gif);
navbutton-horiz-normal:url(prohbtn.gif);
navbutton-vert-pushed:url(provsel.gif);
navbutton-vert-normal:url(provbtn.gif);
navbutton-home-normal:url(prohom.gif);
navbutton-up-normal:url(proup.gif);
navbutton-prev-normal:url(probck.gif);
navbutton-next-normal:url(pronxt.gif);
}
UL{
list-style-image:url(probul1.gif);
}
UL UL{
list-style-image:url(probul2.gif);
}
UL UL UL{
list-style-image:url(probul3.gif);
}
.mstheme-bannertxt{
font-family:trebuchet ms,Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:trebuchet ms,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:trebuchet ms,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:trebuchet ms,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:trebuchet ms,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:trebuchet ms,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:trebuchet ms,arial,helvetica;
font-size:1;
color:#000000;
}
