.mstheme{
nav-banner-image:url(pixbanr.gif);
separator-image:url(apixrule.gif);
list-image-1:url(apixbul1.gif);
list-image-2:url(apixbul2.gif);
list-image-3:url(apixbul3.gif);
navbutton-horiz-pushed:url(apixhsel.gif);
navbutton-horiz-normal:url(apixhbtn.gif);
navbutton-horiz-hovered:url(apixhhov.gif);
navbutton-vert-pushed:url(apixvsel.gif);
navbutton-vert-normal:url(apixvbtn.gif);
navbutton-vert-hovered:url(apixvhov.gif);
navbutton-home-normal:url(apixhom.gif);
navbutton-home-hovered:url(apixhomh.gif);
navbutton-up-normal:url(apixup.gif);
navbutton-up-hovered:url(apixuph.gif);
navbutton-prev-normal:url(apixbck.gif);
navbutton-prev-hovered:url(apixbckh.gif);
navbutton-next-normal:url(apixnxt.gif);
navbutton-next-hovered:url(apixnxth.gif);
}
UL{
list-style-image:url(apixbul1.gif);
}
UL UL{
list-style-image:url(apixbul2.gif);
}
UL UL UL{
list-style-image:url(apixbul3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#FF0000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
