.mstheme{
nav-banner-image:url(watbanr.gif);
separator-image:url(watrule.gif);
list-image-1:url(watbul1.gif);
list-image-2:url(watbul2.gif);
list-image-3:url(watbul3.gif);
navbutton-horiz-pushed:url(wathsel.gif);
navbutton-horiz-normal:url(wathbtn.gif);
navbutton-vert-pushed:url(watvsel.gif);
navbutton-vert-normal:url(watvbtn.gif);
navbutton-home-normal:url(wathom.gif);
navbutton-up-normal:url(watup.gif);
navbutton-prev-normal:url(watbck.gif);
navbutton-next-normal:url(watnxt.gif);
}
UL{
list-style-image:url(watbul1.gif);
}
UL UL{
list-style-image:url(watbul2.gif);
}
UL UL UL{
list-style-image:url(watbul3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
