.mstheme{
nav-banner-image:url(awatbanr.gif);
separator-image:url(awatrule.gif);
list-image-1:url(awatbul1.gif);
list-image-2:url(awatbul2.gif);
list-image-3:url(awatbul3.gif);
navbutton-horiz-pushed:url(awathsel.gif);
navbutton-horiz-normal:url(awathbtn.gif);
navbutton-horiz-hovered:url(awathhov.gif);
navbutton-vert-pushed:url(awatvsel.gif);
navbutton-vert-normal:url(awatvbtn.gif);
navbutton-vert-hovered:url(awatvhov.gif);
navbutton-home-normal:url(awathom.gif);
navbutton-home-hovered:url(awathomh.gif);
navbutton-up-normal:url(awatup.gif);
navbutton-up-hovered:url(awatuph.gif);
navbutton-prev-normal:url(awatbck.gif);
navbutton-prev-hovered:url(awatbckh.gif);
navbutton-next-normal:url(awatnxt.gif);
navbutton-next-hovered:url(awatnxth.gif);
}
UL{
list-style-image:url(awatbul1.gif);
}
UL UL{
list-style-image:url(awatbul2.gif);
}
UL UL UL{
list-style-image:url(awatbul3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
