vti_encoding:SR|utf8-nl
vti_author:SR|jinghua
vti_modifiedby:SR|jinghua
vti_timecreated:TR|15 May 2003 22:31:59 -0000
vti_timelastmodified:TR|15 May 2003 22:31:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_cacheddtm:TX|15 May 2003 22:32:00 -0000
vti_filesize:IR|5148
vti_cachedlinkinfo:VX|S|strbanc.gif S|strhorzbtnnc.gif S|strhorzbtnsc.gif S|strhomebtnc.gif S|strnextbtnc.gif S|strprevbtnc.gif S|strupbtnc.gif S|strglobalc.gif S|strvertbtnnc.gif S|strvertbtnsc.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/strtedge/strbanc.gif FSUS|_themes/strtedge/strhorzbtnnc.gif FSUS|_themes/strtedge/strhorzbtnsc.gif FSUS|_themes/strtedge/strhomebtnc.gif FSUS|_themes/strtedge/strnextbtnc.gif FSUS|_themes/strtedge/strprevbtnc.gif FSUS|_themes/strtedge/strupbtnc.gif FSUS|_themes/strtedge/strglobalc.gif FSUS|_themes/strtedge/strvertbtnnc.gif FSUS|_themes/strtedge/strvertbtnsc.gif
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\users\\jinghua\\documents\\my web sites\\mynewsite/c\:/users/jinghua/documents/my web sites/mynewsite:TR|15 May 2003 22:31:59 -0000
